<%- include("partials/header.ejs") %>
<body>
  <header>
    <div id="title">TinyLinker</div>
  </header>
  <main>
    <div id="main-wrapper">
      <p id="main-landing-title">Unauthorized</p>
      <a href="/login" id="unauthorized-anchor">
        <button>Go To Login Page</button>
      </a>
    </div>
  </main>
</body>
<%- include ("partials/footer.ejs") %>
